<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="finalpage.css">
    <title>Return and orders </title>
    <link rel="icon" href="https://i.pinimg.com/originals/01/ca/da/01cada77a0a7d326d85b7969fe26a728.jpg" type="image/png">
</head>
<body>
    <div style="display:flex;justify-content:center;color:green;"><h3>your orders</h3></div>
    <div class="finalorders"></div>
    <div style="display: flex;align-items: center;justify-content: center;">
        <button class="gohomefunc">Gohome</button>
    </div>
</body>
<script src="finalpage.js"></script>
</html>